<form [formGroup]="userform">
    <div class="addprop">
        <label>Username</label>
        <input type="text" formControlName="username" class="form-control">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control">
        <label>PhoneNumber</label>
        <input type="text" formControlName="phone_number" class="form-control">
        <label>password</label>
        <input type="text" formControlName="password" class="form-control">
       
        <label>Occupation</label>
        <input type="text" formControlName="occupation" class="form-control">
        
        <div class="btncls">
            <button type="button" class="addcat" (click)="addprop()"> Create Tenant</button>
    
        </div>
    </div>
    
    

</form>