<div>
    <html>
      <body>
  
        <h2>Login Page</h2>
  
        <form id="loginForm">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required [(ngModel)]="email">
  
          <label for="password">Password:</label>
          <!-- <input type="password" name="password" id="password" required> -->
          <input type="password" name="password" id="password" required [(ngModel)]="password">
  
          <!-- Use an anchor tag for routerLink -->
  
          <!-- Another button for the loginclick() function -->
          <button type="button" (click)="loginclick()">Login</button>
        </form>
        <!-- Display API response messages -->
        <div id="responseMessage" style="margin-top: 16px; color: red;"></div>
  
      </body>
    </html>
  </div>
  