table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -20px;
  }
  
  thead {
    background-color: #3498db; /* Header background color */
    color: #fff; /* Header text color */
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
  }
  
  tr:hover {
    background-color: #e0e0e0; /* Hovered row background color */
    transition: background-color 0.3s ease;
  }
  
  
.add_btn_container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1000px;

  }
  button {
      margin-bottom: 30px; /* Add margin between buttons for spacing */
      padding: 10px 15px;
      background-color: #3498db; /* Green background color */
      color: white; /* White text color */
      border: none; /* Remove border */
      border-radius: 5px; /* Add border-radius for rounded corners */
    }
    
    button:hover {
      background-color: #3498db; /* Darker green color on hover */
    }

    .search-div {
        position: relative;
        /* flex: 1 1 auto; */
        width: 300px;
        border-radius:250px        
    }

    .searchprop{
        border-radius: 10px;
    }