<div class="customer_info">
    <div class="cus_col">
      <div class="custmer_info">
        <!-- <h2 class="head_text"><div class="material-icons">supervised_user_circle</div> <div>Manage Admin</div> </h2> -->
        <h2 class="head_text"><div>Property Details</div> </h2>
        <div class="cus_info_cont flex">
          <ul>
            <li class ="list_prop">
              <p>PropertyName</p> <span>: <span>{{user_data.property_name}}</span></span>
            </li>
            <li class ="list_prop">
              <p>Code</p> <span>: <span>{{user_data.property_code}}</span></span>
            </li>
            <li class ="list_prop">
              <p>UlPin</p> <span>: <span>{{user_data.ul_pin}}</span></span>
            </li>
            <li class ="list_prop">
              <p>Address </p> <span>: <span>{{user_data.address}}</span></span>
            </li>
            <li class ="list_prop">
                <p>Pincode </p> <span>: <span>{{user_data.pincode}}</span></span>
              </li>
            
           
          </ul>
          
        </div>

        <h2 class="head_text"><div>Unit Details</div> </h2>
        <div class="cus_info_cont flex">
          
            <div>             
                <table>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>UnitName</th>
                      <th>Cost</th>
                      <th>BaseRent</th>
                      <th>Date</th>
                      <th>TenantName</th>
                      <!-- Add more headers based on your API response structure -->
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="apiData.length > 0; else noRecords">
                      <tr *ngFor="let item of apiData; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.unit}}</td>
                        <td>{{ item.cost}}</td>
                        <td>{{ item.base_rent}}</td>
                        <td>{{ item.created_at }}</td>
                        <td>
                            {{ item.tenant_info[0]?.user_id__username || '-' }}
                        </td>
                          
                                                  
                        <!-- Add more cells based on your API response structure -->
                      </tr>
                    </ng-container>
                    <ng-template #noRecords>
                      <tr>
                        <td colspan="6">No records found</td>
                      </tr>
                    </ng-template>
                  </tbody>
                  
                </table>
              </div>

        </div>
      </div>
    </div>
   
  </div>