
<div class="col-md-12">
    <h1 class="title">Real Estate Management System</h1>
    <div class="add_btn_container">
      <div >
        <button mat-raised-button class="addcat" routerLink="/rems/manage-property" > Manage Property </button>
      </div>
      <div >   
          <button mat-raised-button class="addcat"  routerLink="/rems/manage-tenent" > Manage Tenants </button>
      </div>
      <div >   
        <button mat-raised-button class="addcat"  routerLink="/rems/map-tenents" > Assign Tenant&property </button>
    </div>
</div>

<router-outlet></router-outlet>
